<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="org.teiid">
    <resources>
        <resource-root path="teiid-8.4.0.Final-jdbc.jar"/>
    </resources>

    <dependencies>
        <module name="javax.ejb.api"/>
        <module name="sun.jdk"/>
    </dependencies>
</module>